* {
    box-sizing: border-box;
}

/* applies to everything */
body {
    display: flex;
    flex-direction: column;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    color: #454950;
    margin: 0;
}

/* time to do header stuff */
header {
    display: flex;
    width: 100%;
    height: 75px;
    background-color: #454950;
    align-items: center;
}

h1 {
    display: inline-block;
    position: relative;
    justify-content: left;
    font-size: 200%;
    background-color: #8493ad;
    margin: 20px;
    padding: 10px;
}

nav {
    display: flex;
    flex: 1 0;
    justify-content: flex-end;
}

ul {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

li {
    display: flex;
    padding: 10px;
    text-align: center;
}

header a {
    color: #8493ad;
    font-weight: bold;
}

#subheader {
    display: flex;
    height: 50px;
    background-color: #8493ad;
    justify-content: right;
    align-items: end;
}

h3 {
    text-align: right;
    margin: 5px;
    padding: 5px;
    position: relative;
}

/* main body section; handles stuff for the side column and main inserts */
section {
    display: flex;
    margin: 30px 0;
}

article {
    display: flex;
    flex-direction: column;
    margin-left: 15px;
}

aside {
    flex: 0 0 120px;
    padding: 5px;
    margin-left: 15px;
    border-right: 3px solid;
}

p {
    margin: 5px;
}

h2 {
    font-size: 175%;
    text-align: right;
}

#cards {
    display: flex;
    flex-wrap: wrap;
    margin-left: 15px;
}

figure {
    display: flex;
    flex-direction: column;
    font-size: 80%;
    padding: 5px;
    background-color: #8493ad;
    justify-content: end;
}

h4 {
    position: relative;
    font-size: 125%;
    padding: 5px;
}

#card-large {
    display: flex;
    flex: 1 0 500px;
    height: 250px;
    border: 2px solid;
    margin: 5px;
}


.card {
    display: flex;
    flex-wrap: wrap;
    flex: 1 250px;
    height: 100px;
    border: 2px solid;
    margin: 5px;
}

/* time to do footer stuff */
footer {
    display: flex;
}

footer nav {
    display: inline-block;
    margin-left: 15px;
}

footer a {
    color: #454950;
    font-weight: bold;
}

/* screen width manager */
@media screen and (max-width:768px) {

}

@media screen and (max-width:576px) {
    nav  ul {
        flex-wrap: wrap;
    }
}